spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:crypto;DB_CLOSE_DELAY=-1}
    driver-class-name: org.h2.Driver
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true

logging:
  level:
    root: INFO
